@model DocDoctors.Models.Client

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Send" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label asp-for="FileRepo" class="control-label">Repository</label>
				<select asp-for="FileRepo" class="form-control">
					<option value="Dropbox">Dropbox</option>
					<option value="GoogleDrive">Google Drive</option>
					<option value="OneDrive">One Drive</option>
				</select>
            </div>
            <div class="form-group">
                <label asp-for="DefaultFolder" class="control-label">Default Folder</label>
                <input asp-for="DefaultFolder" class="form-control" />
                <span asp-validation-for="DefaultFolder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label asp-for="Secret1" class="control-label"></label>
                <input asp-for="Secret1" class="form-control" />
                <span asp-validation-for="Secret1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Secret2" class="control-label"></label>
                <input asp-for="Secret2" class="form-control" />
                <span asp-validation-for="Secret2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

